
// ────────────── Environment Variables ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#environment

//environment {
//   DISPLAY ":1"
//   ELECTRON_OZONE_PLATFORM_HINT "auto"
//   QT_QPA_PLATFORM "wayland"
//   QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
//   XDG_SESSION_TYPE "wayland"
//   XDG_CURRENT_DESKTOP "niri"
//}

hotkey-overlay {
    skip-at-startup
}


environment {
  XDG_CURRENT_DESKTOP "niri"
  QT_QPA_PLATFORM "wayland"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  //QT_QPA_PLATFORMTHEME "gtk3"
  //QT_QPA_PLATFORMTHEME_QT6 "gtk3"
  QT_QPA_PLATFORMTHEME_QT6 "gtk6ct"
  QT_QPA_PLATFORMTHEME "qt6ct"
  TERMINAL "kitty"
  BROWSER "brave"
  EDITOR "nvim"
  //NIRI_SOCKET "$NIRI_SOCKET"
}
