
// ────────────── Window Rules ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules

prefer-no-csd

gestures {
    hot-corners {
        off
    }
}

hotkey-overlay {
    skip-at-startup
}

layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

recent-windows {
    highlight {
        active-color "#80BB9988"
        urgent-color   "#cc4444"      // Softer red
        padding 30
        corner-radius 12
    }
}

window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}
window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}
window-rule {
    match app-id=r#"^gnome-control-center$"#
    match app-id=r#"^pavucontrol$"#
    match app-id=r#"^nm-connection-editor$"#
    default-column-width { proportion 0.5; }
    open-floating false
}
window-rule {
    //match title=r#"^Krita$"#
    match app-id="steam"
    default-column-width { proportion 1.0; }
}
window-rule {
    match app-id=r#"^gnome-calculator$"#
    match title="Calculatrice"
    match app-id=r#"^galculator$"#
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^org\.gnome\.Nautilus$"#
    match app-id=r#"^xdg-desktop-portal$"#
    match app-id=r#"^org\.kitty\.pacseek$"#
    match app-id="org.quickshell"
    match title="Settings"
    match app-id="rclone_ui"
    open-floating true
}
window-rule {
    match app-id=r#"xfreerdp$"#
    match app-id=r#"^.steam\steam\steamapps$"#
    match app-id="steam"
    open-fullscreen true
    open-focused true
}
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    draw-border-with-background false
}
window-rule {
    match is-active=false
    opacity 0.95
}
window-rule {
    match app-id="brave"
    match app-id="blender"
    match app-id="krita"
    match app-id="teams"
    opacity 1.0
}
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="zoom"
    open-floating true
}
window-rule {
    geometry-corner-radius 12
    draw-border-with-background false
    clip-to-geometry true
    focus-ring {
	    on
	    width 2
    }
}
