layout {
    background-color "transparent"

    focus-ring {
        active-color   "#52dbcc"
        inactive-color "#919191"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#52dbcc"
        inactive-color "#919191"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#52dbcc"
        inactive-color "#919191"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#52dbcc80"
    }
}

recent-windows {
    highlight {
        active-color   "#005049"
        urgent-color   "#ffb4ab"
    }
}