[Unit]
Description=Xremap
After=default.target

[Service]
Type=exec
TimeOutStartSec=30
ExecStart=/usr/bin/xremap --device /dev/input/event6 --watch=config %h/.config/xremap/config.yml
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
